<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="{% static 'css/set.css' %}" rel="stylesheet" />
    <link href="{% static 'css/butten.css' %}" rel="stylesheet" />
</head>
<body>
<h1 style="text-align: center; margin-top: 100px">로그인</h1>
<form method=POST action="{% url 'user_set:login' %}">
    {% csrf_token %}
    <div style="width: 300px; display: block; margin-bottom: 50px" class="container">
    <label for="nickname"><p class="text-muted" style="margin: 0px; color: black;!important;">닉네임</p></label>
            <input type="text" class="form-control" name="nickname" id="nickname"
                   value="{{ nickname|default_if_none:'' }}">
        </div>
        <div class="container" style="margin-bottom: 20px">
        <button class="custom-btn btn-6" type="submit">
    <span>Login</span></button></div>
    </form>
        <div class="container">
        <button class="custom-btn btn-6"  onclick="location.href='{% url 'user_set:nickname_set' %}'">
    <span>Sign</span></button></div>

</body>
{% endblock %}
</html>