<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="{% static 'css/set.css' %}" rel="stylesheet" />
    <link href="{% static 'css/butten.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static '/lion_2/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
<header style="margin-bottom: 100px">
        <h1 class="logo"><a href="{% url 'user_set:login' %}" style="color: black">likelion</a></h1>
        <div class="menu">
        </div>
    <button class="registerBtn" onclick="location.href='{% url 'user_set:nickname_set' %}'"><i class="bi bi-person-add" style="color: white; font-weight: bold; margin-right: 8px;"></i><a>Register</a></button>
    </header>
<h1 style="text-align: center; margin-top: 100px">로그인</h1>
<form method=POST action="{% url 'user_set:login' %}">
    {% csrf_token %}
    <div style="width: 300px; display: block; margin-bottom: 50px" class="container">
    <label for="nickname"><p class="text-muted" style="margin: 0px; color: black;!important;">닉네임</p></label>
            <input type="text" class="form-control" name="nickname" id="nickname"
                   value="{{ nickname|default_if_none:'' }}">
        </div>
        <div class="container" style="margin-bottom: 20px">
        <button class="custom-btn btn-6" type="submit">
    <span>Login</span></button></div>
    </form>
        <div class="container">
        <button class="custom-btn btn-6"  onclick="location.href='{% url 'user_set:nickname_set' %}'">
    <span>Sign</span></button></div>

</body>
{% endblock %}
</html>