{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<form method=POST action="{% url 'user_set:nickname_set' %}">
    {% csrf_token %}
    {% render_form form template_pack='rest_framework/vertical' %}
    {% render_form form_Categories template_pack='rest_framework/vertical' %}
    <button type="submit" class="btn btn-primary" style="color: black">SIGN UP</button>
</form>
</body>
</html>