<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "filter_bar.html" %}
<div id="result"></div>
{% for post in post %}
    {% for post in post %}
        <div class="out_centered">
        <a class="link_text" href="{% url 'summer_spot:post' post.id %}">
        <div class="container main_post" style="padding: 8px">

               <div style="margin-right: 50px"><img src="{{ post.title_image.url }}" style="border-radius: 15px; width: 350px; height: 250px"></img>
               </div>

    <div style="width: 480px; height: 250px;">
        <div style="margin-bottom: 50px; margin-top: 10px"><h2>{{ post.title}}</h2></div>
        <div style="margin-bottom: 50px; display: flex">
        <h4 style="border-radius: 5px">{{ post.get_ambience_display}}</h4>
            <h4 style="border-radius: 5px; margin-left: 10px">{{ post.get_personnel_display}}</h4>
            <h4 style="border-radius: 5px; margin-left: 10px">{{ post.get_view_display}}</h4>
            <h4 style="border-radius: 5px; margin-left: 10px">{{ post.get_good_place_display}}</h4>
        <h4 style="border-radius: 5px; margin-left: 10px">{{ post.get_rental_item_display}}</h4>
            </div>
        <div style="padding-top: 20px">
        <h3>조회수 {{ post.user_check}}</h3> <h3>댓글 수 {{ post.post_review.count}}</h3>
            </div>
    </div>
        </div>
        </a>
        </div>
{% endfor %}
{% endfor %}
<div class="out_centered" style="margin-top: 50px">
<button class="custom-btn btn-6"  onclick="location.href='{% url 'summer_spot:post_make' %}'">
    <span>Make Post</span></button>
</div>
</body>
{% endblock %}
</html>