<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load rest_framework %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container" ><h1 style="text-align: center">피드 작성</h1></div>
<div style="margin-left: 20px; margin-right: 20px;">
<form method=POST action="{% url 'summer_spot:post_retouch' pk %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
            <label for="title"><p class="text-muted" style="margin: 0px; color: black; !important;">제목</p></label>
            <input type="text" class="form-control" name="title" id="title"
                   value="{{ post.title.value|default_if_none:'' }}">
        </div>
    <div style="margin-bottom: 15px; margin-top: 15px;"><label>설명</label>
		<textarea class="col-auto form-control" type="text" id="reviewContents" name="content"
				  placeholder="설명란">{{ post.content.value|default_if_none:'' }}</textarea>
	</div>
    <div class="mb-3">
            <label for="place"><p class="text-muted" style="margin: 0px; color: black; !important;">장소</p></label>
            <input type="text" class="form-control" name="place" id="place"
                   value="{{ post.place.value|default_if_none:'' }}">
        </div>
    <div id="map" style="width:250px;height:250px; display: none;"></div>
    <div class="mb-3">
            <label for="title_image"><p class="text-muted" style="margin: 0px; color: black; !important;">{{ image_url }}</p></label>
            <input type="file" class="form-control" name="title_image" id="title_image">
        </div>
    <div class="mb-3">
    {% render_form post_cat template_pack='rest_framework/vertical' %}
    <button type="submit" class="btn btn-primary" style="color: black">MAKE</button>
    </div>
</form>
</div>
<script  type="text/javascript" src="{% static '/js/map.js' %}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	fe7ad61fd61d620b72278f6765994dc2&libraries=services"></script>
</body>
{% endblock %}
</html>