<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <script>
      var start = "{{ post_list.list_place }}";
    </script>
<link href="{% static 'css/set.css' %}" rel="stylesheet" />
    <link href="{% static 'css/butten.css' %}" rel="stylesheet" />
</head>
<body>
{% include "list_make_bar.html" %}
<h1 style="text-align: center; margin-bottom: 50px">{{ post_list.get_division_display }}</h1>
<div class="out_centered" style="margin-bottom: 20px">
        <div class="container" style="padding: 8px; margin-left: 50px">

               <div><div id='maps' style="width: 350px; height: 200px"></div>
               </div>

    <div style="width: 400px;padding-left: 100px">
        <div style="margin-bottom: 50px; padding-top: 30px"><h2>{{ post_list.list_title}}</h2></div>
        <div>
        <h3>{{ post_list.list_place}}</h3>
            </div>
        <div style="padding-top: 50px">
            </div>
    </div>
        </div>
        </div>
<div class="out_centered" style="margin-bottom: 20px">
<div class="container" style="margin-left: 50px">
    <div><img src="{{ post_list.list_image.url }}"
                                         style="border-radius: 15px; width: 350px; height: 250px"></img>
    </div>
        <div style="width: 400px;padding-left: 100px">
        <div>
        <h3>{{ post_list.list_content}}</h3>
            </div>
        <div style="padding-top: 50px">
            </div>
    </div>
        </div>
</div>
<div class="out_centered">
    <button class="custom-btn btn-6" onclick="location.href='{% url 'summer_spot:post_list_retouch' pk=pk pk2=post_list.id %}'">
    <span>수정</span></button>
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	fe7ad61fd61d620b72278f6765994dc2&libraries=services"></script>
<script  type="text/javascript" src="{% static '/js/post_map.js' %}"></script>
</body>
{% endblock %}
</html>