<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<html lang="ko">
<head>
    <title>Post</title>
    <script>
      var start = "{{ post.place }}";
    </script>
</head>
<body>
<link href="/css/star.css" rel="stylesheet"/>
<h1 style="text-align: center;">{{ post.title }}</h1>
{% if post.post_image.all %}
<div style="text-align: center; margin-bottom: 20px">
    <div class="slider-container" style="height: 450px;">
    <div class="slider" style="width: 1000px">
        {% for image in post.post_image.all %}
      <div class="slide" style="height: 500px; padding-top: 100px">
          <img src="{{ image.images.url }}" style="border-radius: 15px;width: 600px; height: 400px">
          <h4>{{ image.images_name }}
              {% if check_user == post.user.id %}
      <button class="close-button" onclick="location.href='{% url 'summer_spot:post_image_del' pk=pk pk2=image.id %}'">
    <span>X</span></button></h4>
      {% endif %}</div>
        {% endfor %}
    </div>
  </div>

  <div class="slider-nav">
    <button id="prev-btn">Previous</button>
    <button id="next-btn">Next</button>
  </div>
{% endif %}
 <div style="text-align: center">
    <h3>{{ post.get_ambience_display}} / {{ post.get_personnel_display}} /
         {{ post.get_view_display}} / {{ post.get_good_place_display}} /
        {{ post.get_rental_item_display}}</h3>
 </div>
</div>
{% if check_user == post.user.id %}
<div class="out_centered" style="margin-top: 10px">
<button class="custom-btn btn-6" id="open-modal-btn">
    <span>ADD Image</span></button>
    {% endif %}
  <div id="modal" class="modal">
    <div class="modal-content">
      <span class="close-btn">&times;</span>
      <h2>사진을 넣어주세요</h2>
        <form method=POST action="{% url 'summer_spot:many_image' pk %}" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="mb-3">
            <label for="images"><p class="text-muted" style="margin: 0px; color: paleturquoise !important;">이미지 첨부</p></label>
            <input type="file" class="form-control" name="images" id="images">
        </div>
            <div class="mb-3">
            <label for="images_name"><p class="text-muted" style="margin: 0px; color: paleturquoise !important;">이미지 제목</p></label>
            <input type="text" class="form-control" name="images_name" id="images_name">
        </div>
            <button type="submit" class="btn btn-primary" style="color: black">MAKE</button>
        </form>
    </div>
  </div>
</div>
<div class="out_centered" style="margin-bottom: 20px">
        <div class="container" style="padding: 8px">

               <div><div id='maps' style="width: 400px; height: 400px"></div>
               </div>

    <div style="width: 400px;padding-left: 100px">
        <div style="margin-bottom: 50px; padding-top: 30px"><h2>{{ post.title}}</h2></div>
        <div>
        <h3>{{ post.content}}</h3>
            </div>
        <div style="padding-top: 50px">
            </div>
    </div>
        </div>
        </div>
{% if check_user == post.user.id %}
<div class="out_centered" style="margin-bottom: 20px;">
<button class="custom-btn btn-6"  onclick="location.href='{% url 'summer_spot:post_retouch' pk %}'">
    <span>Re-touch</span></button>
    <div style="margin-left: 10px">
<button class="custom-btn btn-6"  onclick="location.href='{% url 'summer_spot:post_del' pk %}'">
    <span>Post Delete</span></button></div>
</div>
{% endif %}
<div class="out_centered" style="border-bottom: 1px black solid"></div>
<div class="scrollable-div">
{% for post_list in post.post_list.all %}
    <div class="container" style="margin-bottom: 30px">
    <a style="text-decoration: none; color: black; display: flex" href="{% url 'summer_spot:post_list' pk=pk pk2=post_list.id %}">
<h3 style="width: 100px; text-align: center">{{ post_list.get_division_display }}</h3>
        <h3 style="width: 200px; text-align: center; margin-left: 30px">{{ post_list.list_title }}</h3>
        <h3 style="width: 300px; text-align: center">{{ post_list.list_place }}</h3>
        </a>
        {% if check_user == post.user.id %}
    <button class="close-button" onclick="location.href='{% url 'summer_spot:post_list_del' pk=pk pk2=post_list.id %}'">
    <span>X</span></button>
    {% endif %}
    </div>
{% endfor %}
</div>
{% if check_user == post.user.id %}
    <div class="container">
<button class="custom-btn btn-6"  onclick="location.href='{% url 'summer_spot:post_list_make' pk %}'">
    <span>List Make</span></button></div>
{% endif %}
{% for post_review in post.post_review.all %}
<div class="out_centered">
        <div class="container" style="width: 900px;
        justify-content: left; height: 100px; padding-left: 10px;
         border-bottom:1px black solid; border-top:1px black solid">
            <div style="width: 100px">

               <h3>{{ post_review.user}}</h3>
                <h3>★x{{ post_review.like}}</h3>
               </div>
<div>
    <div style="width: 700px; padding-left: 20px">
        <h3>{{ post_review.comment}}</h3>
    </div>

                </div>
            {% if check_user == post.user.id %}
            <div> <a style="text-decoration: none; color: black" href="{% url 'summer_spot:review_del' pk=pk pk2=post_review.id %}"><h3>X</h3></a></div>
            {% endif %}
            </div>
        </div>
{% endfor %}
<div style="margin-left: 100px; margin-right: 100px;">
<form method=POST  name="review_form" id="review_form" action="{% url 'summer_spot:review_make' pk%}" enctype="multipart/form-data">
    {% csrf_token %}
<fieldset>

		<span class="text-bold">별점을 선택해주세요</span>
		<input type="radio" name="like" value="5" id="rate1"><label
			for="rate1">★</label>
		<input type="radio" name="like" value="4" id="rate2"><label
			for="rate2">★</label>
		<input type="radio" name="like" value="3" id="rate3"><label
			for="rate3">★</label>
		<input type="radio" name="like" value="2" id="rate4"><label
			for="rate4">★</label>
		<input type="radio" name="like" value="1" id="rate5"><label
			for="rate5">★</label>
	</fieldset>
    <div>
		<textarea class="col-auto form-control" type="text" id="reviewContents" name="comment"
				  placeholder="리뷰를 작성해 주세요"></textarea>
	</div>

    <button type="submit" class="custom-btn btn-6">작 성</button>
</form>
</div>
</body>
{% endblock %}
</html>
