@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    background-color: #ECEFF7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.container{
    width: 60vw;
    height: 70vh;
    position: absolute;
    border-radius: 15px;
    left: 20%;
    top: 17%;
    box-shadow: 5px 5px 5px 3px rgba(128, 128, 128, 0.279);
    background-color: #ffff;
}


.l-div{
    float: left;
    width: 52%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #10434F;
}

.r-div{
    float: right;
    width: 48%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
}

.emoji{
    position: absolute;
    top: 10%;
    left: 73%;
    color: #10434F;
}

.mainFuncContainer{
    position: absolute;
    top: 5%;
    left: 59%;
    height: 30vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-container {
    height: 70vh;
    position: absolute;
    border-radius: 15px;
    left: 20%;
    top: 17%;
}
.inputForm {
    margin: 10px;
    width: 22vw;
    position: relative;
    display: flex;
    justify-self: center;
    align-items: center;
    top: 25%;
    left: -23%;
    background-color: rgba(226, 232, 255, 0.208);
    border-radius: 15px;
}


.inputForm>input {
    background: transparent;
    border: none;
    border-radius: 15px;
    padding: 20px 0px 5px 20px;
    font-size: 17px;
    width: 65vw;
}

#userEmail::-webkit-input-placeholder {
    color: transparent;
/*     background-image: url(/assets/img/user.png);
    float: right;
    background-size: contain;
    background-repeat: no-repeat; */
}

#userPW::-webkit-input-placeholder {
    color: transparent;
/*     background-image: url(/assets/img/pw.png);
    float: right;
    background-size: contain;
    background-repeat: no-repeat; */
}


input:placeholder-shown+label{
    color: #878787;
    font-size: 16px;
    margin: 10px 0px 0px 10px;
}

input:focus+label,
label {
    color: #18A77D;
    font-size: 8pt;
    pointer-events: none;
    position: absolute;
    left: 10px;
    top: 5px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

input:focus,
input:not(:placeholder-shown) {
    border: solid 2px #595959;
    outline: none;
}

.confirmBTN {
    border: none;
    border-radius: 10px;
    background-color: #18A77D;
    width: 22vw;
    height: 6.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: -19.5%;
}

.confirmBTN:hover{
    background-color: rgb(20, 146, 108);
}

/* 회원가입 페이지 */
.R-container{
    width: 50vw;
    height: 90vh;
    position: absolute;
    border-radius: 15px;
    left: 25%;
    top: 5%;
    box-shadow: 5px 5px 5px 3px rgba(128, 128, 128, 0.279);
    background-color: #ffff;

}

.inputWrap{
    display: block;
    position: absolute;
    left: 26%;
}

.confirmBTN2{
    border: none;
    border-radius: 10px;
    background-color: rgb(214, 221, 248);
    width: 22vw;
    height: 6.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: -19.5%;
}

.confirmBTN2:hover{
    background-color: rgb(182, 195, 247);
}

#userName, #usernickname, #userpw{
    width: 21vw;
    height: 6vh;
    border-radius: 10px;
    margin: 25px;
    text-indent: 10px;
}