.container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
.inner-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
.out_centered {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    margin-bottom: 50px;
    }
.main_post {
      width: 920px;
      transition: transform 0.3s, box-shadow 0.3s;
      cursor: pointer;
    }

    .main_post:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
.link_text {
    color: inherit;
    text-decoration: none;
    }
  .close-button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 14px;
    cursor: pointer;
  }

.search_select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
    width: 150px;
  height: 35px;
  background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 5px) center no-repeat;
  background-size: 20px;
  padding: 5px 30px 5px 10px;
  border-radius: 4px;
  outline: 0 none;
}
.search_select option {
  background: black;
  color: #fff;
  padding: 3px 0;
}
.scrollable-div {
  overflow: auto;
  max-height: 200px;
}

