<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="{% static 'css/star.css' %}" rel="stylesheet" />
    <link href="{% static 'css/set.css' %}" rel="stylesheet" />
    <link href="{% static 'css/butten.css' %}" rel="stylesheet" />
    <link href="{% static 'css/post_image.css' %}" rel="stylesheet" />
    <link href="{% static 'css/modal.css' %}" rel="stylesheet" />
</head>
<body>
{% include "navbar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	fe7ad61fd61d620b72278f6765994dc2&libraries=services"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <!-- Core theme JS-->
        <script  type="text/javascript" src="{% static '/js/modal.js' %}"></script>
        <script  type="text/javascript" src="{% static '/js/post_image.js' %}"></script>
        <script  type="text/javascript" src="{% static '/js/post_map.js' %}"></script>
        <script  type="text/javascript" src="{% static '/js/text.js' %}"></script>
</body>
</html>