<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>휴양지 추천 사이트</title>
    <link rel="stylesheet" href="{% static '/lion_2/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/lion_2/css/slide.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="https://kit.fontawesome.com/def66b134a.js" crossorigin="anonymous"></script>
    <script src="{% static '/lion_2/js/script.js' %}"></script>
</head>
<body>
    <!-- 헤더 -->
    <header>
        <h1 class="logo"><a href="{% url 'summer_spot:main_page' %}">likelion</a></h1>
        <div class="menu">
            <ul>
                <li><a href="{% url 'summer_spot:weather_search' %}">날씨</a></li>
                <li><a href="{% url 'summer_spot:post_search' %}">키워드기반검색</a></li>
            </ul>
        </div>
        <button class="loginBtn" onclick="location.href='{% url 'user_set:login' %}'"><i class="bi bi-box-arrow-in-right" style="color: white; font-weight: bold; margin-right: 8px;"></i><a>Login</a></button>
        <button class="registerBtn" onclick="location.href='{% url 'user_set:user_retouch' %}'"><i class="bi bi-person-add" style="color: white; font-weight: bold; margin-right: 8px;"></i><a>Edit</a></button>
    </header>
<!--     body 윗부분 (바다영상 부분) -->
    <mp4Container>
        <div class="mainText">
            <span>가고 싶은 바다를</span><br />
            <span>찾아보세요!</span>
        </div>
        <div class="searchboxWrap" style="background-color: rgba(255, 255, 255, 0.718);display: flex; width: 18vw; padding: 10px; border-radius: 10px;">
            <form method=POST action="{% url 'summer_spot:post_region' %}">
            <select name="searchbox" id="" onchange="categoryChange(this)" style="height: 5vh; width: 10vw; font-size: 19px; background-color: transparent;
            color: rgba(0, 0, 0, 0.853); border-style: none; border-bottom: 2px solid rgba(0, 0, 0, 0.642); font-weight: bold; padding-right: 20px;">
                <option value="">시/도 선택</option>
                <option value="서울특별시">서울특별시</option>
                <option value="경기도">경기도</option>
                <option value="인천광역시">인천광역시</option>
                <option value="부산광역시">부산광역시</option>
                <option value="대구광역시">대구광역시</option>
                <option value="대전광역시">대전광역시</option>
                <option value="광주광역시">광주광역시</option>
                <option value="울산광역시">울산광역시</option>
                <option value="강원도">강원도</option>
                <option value="충청북도">충청북도</option>
                <option value="충청남도">충청남도</option>
                <option value="경상북도">경상북도</option>
                <option value="경상남도">경상남도</option>
                <option value="전라북도">전라북도</option>
                <option value="전라남도">전라남도</option>
                <option value="제주도">제주도</option>
            </select>
            <button class="searchBtn"><i class="bi bi-search" style="font-size: 20px; color: white; width: 5px; height: 5px"></i></button>
            </form>
            <a href="{% url 'summer_spot:main_page' %}"><h2 style="font-size: 30px; color: white; margin-left: 20px; padding-top: 2.5px">X</h2></a>
        </div>
        <video class="mainMP4" src="/media/oceanMP4.mp4" autoplay muted loop></video>
    </mp4Container>
    <div class="scrollPopUp">
        <a><span></span></a>
    </div>

<!--     스크롤 시 보이는 화면 -->
    <section>
        <div class="container reveal">
            <div class="text-container">
                <div class="text-box">Recommended Destination</div>
            </div>

<!--             추천 여행지 슬라이드 -->

            <div>
                <section class="slide">
                    <div class="swiper mySwiper container">
                        <div class="swiper-wrapper content">
                            {% for post in post %}
                                {% for post in post %}
                            <div class="swiper-slide card">
                                <div class="card-content">
                                    <div class="image">
                                        <img src="{{ post.title_image.url }}" alt="">
                                    </div>
                                    <div class="name-profession">
                                        <span class="name">{{ post.title}}</span>
                                        <span class="profession">{{ post.place_address }}</span>
                                    </div>

                                    <div class="command">
                                        <p>{{ post.get_mood_display}} | {{ post.get_personnel_display}} |
                                            {{ post.get_leisure_display}} |  {{ post.get_rental_item_display}}</p>
                                    </div>
                                    <div style="padding-top: 20px; display: block">
        <div><span style="font-size: 15px">조회수 {{ post.user_check}}</span></div>
                                        <div><span style="font-size: 15px">댓글 수 {{ post.post_review.count}}</span></div>
                                        </div>

                                    <div class="button">
                                        <button class="more" onclick="location.href='{% url 'summer_spot:post' pk=post.id %}'">더보기</button>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </section>
        </div>
        </div>
    </section>


<script>

   function reveal() {
        var reveals = document.querySelectorAll(".reveal");

        for (var i = 0; i < reveals.length; i++) {
            var windowHeight = window.innerHeight;
            var elementTop = reveals[i].getBoundingClientRect().top;
            var elementVisible = 200;

            if (elementTop < windowHeight - elementVisible) {
                reveals[i].classList.add("active");
            } else {
                reveals[i].classList.remove("active");
            }
        }
    }

    window.addEventListener("scroll", reveal);
</script>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript" src="{% static '/lion_2/js/script.js' %}"></script>

</body>
{% endblock %}
</html>