<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>키워드 추천 페이지</title>
    <link rel="stylesheet" href="./css/keyword.css">
</head>
<body>
    <h1>키워드 기반 추천 서비스</h1>
    <p>원하는 키워드들을 선택해주세요!</p>
    <marquee class = "marquee1" scrolldelay=100" behavior="alternate" direction="left">
        <div class="chips-container">
            <button class="chips" id="ambience">신선한</button>
            <button class="chips" id="person">1인</button>
            <button class="chips" id="rental_item">튜브 대여</button>
            <button class="chips" id="view">자연적인</button>
            <button class="chips" id="good_place">수상레저 활동이 가능한</button>
            <button class="chips" id="theme">자유여행</button>
            <button class="chips" id="rental_item">수영복</button>
            <button class="chips" id="theme">이색체험</button>
            <button class="chips" id="location">남해</button>
        </div>
    </marquee>
    <marquee class = "marquee2"scrolldelay="40" behavior="alternate" direction="right">
        <br><br><br><br>
        <div class="chips-container">
            <button class="chips" id="view">사진 찍기 좋은</button>
            <button class="chips" id="theme">식도락 여행</button>
            <button class="chips" id="person">2인</button>
            <button class="chips" id="ambience">조용한</button>
            <button class="chips" id="view">멋진</button>
            <button class="chips" id="location">서해</button>
            <button class="chips" id="good_place">맛집이 많은</button>
            <button class="chips" id="theme">우정</button>
            <button class="chips" id="theme">사랑</button>
            <button class="chips" id="ambience">평화로운</button>
            <button class="chips" id="ambience">왁자지껄한</button>
        </div>
    </marquee>
    <marquee  class = "marquee3"scrolldelay="30" behavior="alternate" direction="right">
        <br><br><br><br>
        <div class="chips-container">
            <button class="chips" id="person">3인</button>
            <button class="chips" id="view">사람이 적은</button>
            <button class="chips" id="good_place">물놀이</button>
            <button class="chips" id="good_place">다이빙</button>
            <button class="chips" id="person">4인 이상</button>
            <button class="chips" id="theme">휴식</button>
            <button class="chips" id="theme">체험</button>
            <button class="chips" id="rental_item">매트 및 파라솔 대여</button>
            <button class="chips" id="theme">가성비</button>
            <button class="chips" id="theme">호화로운</button>
        </div>
    </marquee>
    <marquee class="marquee4" scrolldelay="35" behavior="alternate" direction="right">
        <br><br><br><br>
        <div class="chips-container">
            <button class="chips" id="good_place">캠핑</button>
            <button class="chips" id="good_place">해변</button>
            <button class="chips" id="view">야경이 멋진</button>
            <button class="chips" id="location">동해</button>
            <button class="chips" id="good_place">서핑</button>
            <button class="chips" id="good_place">수영</button>
            <button class="chips" id="rental_item">수영복 대여</button>
            <button class="chips" id="rental_item">오리발 대여</button>
            <button class="chips" id="ambience">고즈넉한</button>
            <button class="chips" id="theme">가족</button>
        </div>
    </marquee>
    <button class="search">검색하기</button>
</body>
</html>