<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static '/lion_2/css/login.css' %}">
    
</head>
<body>
    <div class="container">
        <div class="l-div">
            <img src="{% static '/lion_2/assets/img/loginIMG.png' %}" alt="" style="height: 100%; width: 100%; border-top-left-radius: 15px;">
        </div>
        <div class="r-div">
            <div class="emoji">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-emoji-sunglasses"
                    viewBox="0 0 16 16">
                    <path d="M4.968 9.75a.5.5 0 1 0-.866.5A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75zM7 5.116V5a1 1 0 0 0-1-1H3.28a1 1 0 0 0-.97 1.243l.311 1.242A2 2 0 0 0 4.561 8H5a2 2 0 0 0 1.994-1.839A2.99 2.99 0 0 1 8 6c.393 0 .74.064 1.006.161A2 2 0 0 0 11 8h.438a2 2 0 0 0 1.94-1.515l.311-1.242A1 1 0 0 0 12.72 4H10a1 1 0 0 0-1 1v.116A4.22 4.22 0 0 0 8 5c-.35 0-.69.04-1 .116z" />
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-1 0A7 7 0 1 0 1 8a7 7 0 0 0 14 0z" />
                </svg>
            </div>
            <div class="mainFuncContainer">
                <h1 class="hello">Hello Again!</h1>
                <form method=POST action="{% url 'user_set:login' %}">
                <div class="s-container">
                    <div class="inputForm">
                        <input type="text" id="userEmail"  name="nickname" placeholder="이메일">
                        <label for="userEmail">닉네임</label>
                    </div>
                    <button onclick="" class="confirmBTN">로그인</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>