<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="{% static '/lion_2/css/login.css' %}">
</head>
<body>
    <div class="R-container">
        <div class="wrap" style="margin: 70px;">
            <h1 style="display: flex; justify-content: center; align-items: center; margin: 10px; ">Create an account</h1>
            <p style="display: flex; justify-content: center; align-items: center; color: darkgrey; padding-bottom: 40px;"> Sign up
                now and unlock exclusive access!</p>
            <div class="R-wrap">
                <div class="inputWrap">
                    <input type="text" id="userName" placeholder="이름">
                    <input type="text" id="usernickname" placeholder="닉네임">
                    <input type="password" id="userpw" placeholder="비밀번호">
                </div>
                <button onclick="" class="confirmBTN" style="position: absolute; left: 28.6%; margin-top: 90px;">계정 생성</button>
                <button onclick="" class="confirmBTN2" style="position: absolute; left: 28.6%; margin-top: 150px;">로그인</button>
            </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>